body {
  color: #333;
  font-size: 1em;
  font-family: Arial, sans-serif;
  margin: 0; }
  body * {
    box-sizing: border-box; }
  body a {
    text-decoration: none;
    color: #06c; }
    body a:hover {
      text-decoration: underline; }
  body ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
  body dd {
    margin-left: 0; }
  body .styleguide__aside {
    background: #333;
    color: white;
    padding: 5% 20px 20px;
    box-shadow: 0px 5px 10px 0px #999999;
    position: fixed;
    top: 50px; }
    @media (min-width: 768px) {
      body .styleguide__aside {
        padding: 5% 2% 20px;
        left: 0;
        top: 0;
        width: 30%;
        font-size: 1.3em;
        height: 100%;
        box-shadow: none; } }
    body .styleguide__aside ul li {
      margin-bottom: 15px;
      padding-bottom: 15px;
      border-bottom: solid 1px #ccc;
      font-size: 1.2em;
      line-height: 1; }
      @media (min-width: 768px) {
        body .styleguide__aside ul li {
          margin-bottom: 20px; } }
    body .styleguide__aside ul li, body .styleguide__aside ul a {
      color: white; }
    body .styleguide__aside ul li.selected,
    body .styleguide__aside ul li.selected a {
      color: orange;
      font-weight: bold; }
    body .styleguide__aside dl {
      line-height: 1.4em;
      font-size: 0.85em;
      margin-top: 30px; }
      body .styleguide__aside dl a {
        color: orange; }
      body .styleguide__aside dl dt {
        float: left;
        margin-right: 5px;
        font-weight: bold; }
  body main {
    margin: 20px;
    margin-top: 70px; }
    @media (min-width: 768px) {
      body main {
        margin-left: 35%;
        margin-right: 5%;
        margin-top: 5%; } }
    @media (min-width: 1024px) {
      body main {
        margin-left: 30%;
        margin-right: 10%;
        margin-top: 5%; } }
    body main h1 {
      font-size: 1.5em;
      margin: 0; }
      @media (min-width: 768px) {
        body main h1 {
          font-weight: normal;
          font-size: 2.3em; } }
      @media (min-width: 1024px) {
        body main h1 {
          font-size: 3em; } }
    body main section {
      border-bottom: dotted 1px #ccc;
      padding-bottom: 30px;
      padding-top: 1px; }
      body main section:last-of-type {
        border: none;
        padding-bottom: 0; }
      body main section h2 {
        font-size: 1.5em;
        margin-bottom: 0; }
        @media (min-width: 768px) {
          body main section h2 {
            font-size: 2.5em; } }
        body main section h2 + p {
          margin-top: 5px; }
          body main section h2 + p + ul {
            margin-top: 25px; }
      body main section h3 {
        margin: 0;
        font-size: 1.3em; }
        body main section h3 + p {
          font-size: 0.9em;
          color: #666; }
        body main section h3 a + a[class^="state-"] {
          margin-left: 5px; }
          body main section h3 a + a[class^="state-"]:hover {
            text-decoration: none; }
      body main section p {
        margin-top: 0; }
    body main .state-wip {
      font-size: 12px;
      line-height: 1;
      vertical-align: 3px;
      font-weight: normal;
      background: orange;
      color: white;
      padding: 3px 7px;
      font-style: italic; }
    body main .state-deprecated {
      font-size: 12px;
      line-height: 1;
      vertical-align: 3px;
      font-weight: normal;
      background: red;
      color: white;
      padding: 3px 7px;
      font-style: italic; }
    body main .state-donotcopy {
      font-size: 12px;
      line-height: 1;
      vertical-align: 3px;
      font-weight: normal;
      background: darkred;
      color: white;
      padding: 3px 7px;
      font-style: italic; }
    body main .state-new {
      font-size: 12px;
      line-height: 1;
      vertical-align: 3px;
      font-weight: normal;
      background: green;
      color: white;
      padding: 3px 7px;
      font-style: italic; }
    body main #legend {
      margin: 50px 0;
      background: #ddd;
      padding: 10px 20px;
      font-size: 0.9em; }
      body main #legend h3 {
        margin-bottom: 20px; }
      body main #legend dt {
        display: inline-block; }
      body main #legend dd {
        margin: 5px 0 20px 0; }
